
.container {
    position: fixed;
    top: 45px;
    left: 40px; 
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }