.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%; /* Set width to 100% for both TextInput and PasswordInput */
  text-align: left;
  margin: 10px 0; /* Add margin for spacing */
}

.button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.button:hover {
  background-color: #218838;
}
